<main role="main" class="container">
  <div class="starter-template">
    <h1 class="center">Basta</h1>
  </div>
  <div class="row">
    <div class="col">
      <table style="width: 100%;" id="tablaJuego">
      </table>
      <table style="width: 100%;" id="tablaResultados">
      </table>
    </div>
  </div>
      <button class="btn btn-success" id="submitBasta" onclick="bastaHandler()">
        Basta
      </button>
  <h3 class="center" id="ganador">El ganador es: </h3>
</main>
